@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Заблокировано";
}
<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Эта учетная запись заблокирована. Попробуйте еще раз позже.</h2>
</hgroup>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
