<div class="panel panel-default" style="background-color: rgba(0, 0, 0, 0.5); width: 1000px; height: 150px;">
    <div class="panel-body">
        <link href="~/Content/Site.css" rel="stylesheet" />

        @using (Ajax.BeginForm("ActorSearch", new AjaxOptions { UpdateTargetId = "results" }))
        {<p></p>
            <input type="text" class="form-control" name="name"><p></p>
            <button type="submit" style=" background-color: rgba(207, 34, 100, 0.5);" class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-search"></span> &nbspПоиск</button>

        }

    </div>
</div>


@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

