
@{
    ViewBag.Title = "Favourite";
}

<h2>Favourite</h2>

@using FCatalog.Models
@model FCatalog.Models.Favourite

@{
    ViewBag.Title = "Like";
}

<h2>Like</h2>

@using (Html.BeginForm())
{


    @*<input type="hidden" value="@ViewBag.Film" name="Film" />
    <input type="hidden" value="@ViewBag.UserId" name="UserId" />*@

    <input type="submit" value="Добавить в избранное" />



}
